{% extends 'base.html' %}

{% load staticfiles %}

{% load widget_tweaks %}

{% load render_bundle from webpack_loader %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=600px, initial-scale=1">

    <!-- Webpack rendered CSS -->
    {% render_bundle 'main' 'css' %}
  </head>

  <body>

        {% block body %}{% endblock %}

        {% block content %}

        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1">
                <div class="l-box">
                    <h4 class="content-subhead">Listagem de Cursos do SimpleMOOC</h4>
                    <p>Abaixo a lista de cursos disponíveis na plataforma</p>
                </div>
            </div>
        </div>
        {% for course in courses %}
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <a href="{{ course.get_absolute_url }}">
                    {% if course.image %}
                    <img src="{{ course.image.url }}" alt="{{ course.name }}" />
                    {% else %}
                    <img src="{% static 'img/course-image.png' %}" alt="{{ course.name }}" />
                    {% endif %}
                    </a>
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead"><a href="{{ course.get_absolute_url }}" title="">{{ course.name }}</a></h4>
                    {{ course.description|linebreaks }}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1">
                <div class="l-box">
                    <p>Nenhum curso está disponível na plataforma</p>
                </div>
            </div>
        </div>
        {% endfor %}

{% endblock %}

{% render_bundle 'main' 'js' 'JQUERY' %}
<!-- django-js-reverse -->
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>

<!-- Webpack rendered Javascript -->
{% render_bundle 'main' 'js' %}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-XXXXX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-XXXXX');</script>
<!-- End Google Tag Manager -->
{% block scripts %}{% endblock %}
</body>
</html>