{% extends "base.html" %}


{% block body %}
<!-- Header -->
  <!-- Reset Password -->
  <main class="auth" role="main">
    <div class="container">
      <section class="auth-wrapper">
        <div class="auth-form-wrapper">
          <h1>Reset Password</h1>
          <p>Select a new password.</p>

          <!-- Set new password Alert -->
          {% for field, error in form.errors.items %}
          <div>
            {{ error }}
          </div>
          {% endfor %}

          <form class="auth-form" method="POST" action="">
          {% csrf_token %}
            <fieldset>
              <label for="id_new_password1">New password</label>
              <input type="password" name="new_password1" id="id_new_password1" placeholder="Password" required>
            </fieldset>
            <fieldset>
              <label for="id_new_password2">Confirm password</label>
              <input type="password" name="new_password2" id="id_new_password2" placeholder="Repeat password" required>
            </fieldset>
            <div class="auth-submit">
              <button type="submit" class="auth-btn" aria-label="Set New Password">Set New Password</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </main>
{% endblock %}


<!--

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        {% if validlink %}
        <h2>Informe sua nova Senha</h2>
        <form class="pure-form pure-form-stacked" method="post">
            {% csrf_token %}
            <fieldset>
                    {% for field, error in form.errors.items %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                      {{ error }}
                    </div>
                    {% endfor %}
                <div class="pure-control-group">
                </div>

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                </div>
            </fieldset>
        </form>
        {% else %}
        <p>
            Este link é inválido.
              </p>
        {% endif %}
    </div>
</div>
{% endblock %}-->